body{
    text-align: center;
    font-family: serif;
    color: dimgrey;
    font-size: 12px;
}

.container{
    width: 60%;
    padding: 1rem;
    border: 1px solid dimgray;
    margin: 0 auto;
}
.container h1{
    font-size: 40px;
    color: thistle;
}